<%= content_tag :tr, data: { url: resource_path(resource.object) } do %>
  <% resource.attributes_for(:index).each do |attribute| %>
    <%= resource.send(attribute) %>
  <% end %>

  <td class="actions">
    <div class="btn-group">
      <% if manaraga_user.can_destroy?(resource) %>
        <%= link_to resource_path(resource.object), method: :delete, data: { confirm: 'Delete this item?' }, class: 'btn btn-xs btn-danger' do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>

      <% if manaraga_user.can_edit?(resource) %>
        <%= link_to edit_resource_path(resource.object), class: 'btn btn-xs btn-success' do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
      <% end %>

      <% if manaraga_user.can_read?(resource) %>
        <%= link_to resource_path(resource.object), class: 'btn btn-xs btn-info' do %>
          <span class="glyphicon glyphicon-link"></span>
        <% end %>
      <% end %>
    </div>
  </td>
<% end %>
