<h1>
  <%= resource_class.name.titleize %>

  <% if manaraga_user.can_create?(resource_class) %>
    <%= link_to "Add new", new_resource_path, class: 'btn btn-success btn-md pull-right' %>
  <% end %>
</h1>

<% if collection.any? %>
  <table border="0" class="<%= collection.table_html_classes %>">
    <thead>
      <tr>
        <% collection.attributes_for(:index).each do |attribute| %>
          <th><%= attribute %></th>
        <% end %>

        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'resource', collection: collection, as: :resource %>
    </tbody>
  </table>

  <%= paginate(collection) %>
<% end %>
